a:link{
    color: lawngreen;

    font-size: 40px;
}

a:visited{
    color:grey;
}

a:hover{
    color: tomato;
}

a:active{
    color: skyblue;
}

button:hover{
    background-color: lightgrey
}

button:active{
    background-color: white;
}

/* li:nth-child(1){
    background-color: yellow;
} */

/* li:nth-child(even){
    background-color: teal;
}
li:nth-child(odd){
    background-color: palevioletred;
} */

li:nth-child(3n+2){
    background-color: yellowgreen;
}

