body{
    background-color:rgb(255, 255, 255) ;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.PinkBox{
    background-color: rgb(255, 192, 203);
    border: 1px grey;
    width: 100v;
    height: 96vh;

    margin-left: 0.3%;
    margin-right: 0.3%;

    margin-top: 1%;

    position: static;

    border-radius: 23px;

    /* box-shadow: 1px -3px rgb(0, 0, 0); */
    box-shadow: 0 0px 10px rgb(0, 0, 0,0.6);
}


.CenterBox{
    background-color: beige;
    border: 1px white;

    width: 60%;
    height: 60%;


    position: absolute;

    top: 20%;
    left: 18.7%;

    border-radius: 23px;

    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);


}

.material-symbols-outlined {
    color: rgb(111, 29, 29);
    position: relative;

    left: 10%;
    top: 9%;



  font-variation-settings:
  'FILL' 1 ,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}
.HomeCircle{
    border: 1px;

    background-color: rgb(255, 192, 203);
    
    width: 30px;
    height: 30px;

    left: 1%;
    top: 10%;

    border-radius: 50%;


    position: absolute;

    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);

}



.Menu{

    border: 1px ;

    width: 3%;
    height: 6%;

    
    position: relative;
    left: 1%;
    top: 2.9%;
}