body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


}


h1 {
    color: black;
    font-family: "press Start 2P", "consolas";

    padding: 10px;


    background: linear-gradient(to right, skyblue, transparent);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

p {
    color: black;
    font-family: "consolas", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;


    /* border */

    background: linear-gradient(to left, skyblue, transparent);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


a {
    font-family: "press Start 2P";
    font-size: 25px;
}

a:link {
    color: lawngreen;

}

a:visited {
    color: black;
}

a:hover {
    color: tomato;
}

a:active {
    color: skyblue;
}